<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Stakeholder Viewpoint</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Stakeholder Viewpoint</b>
			(<span class="i18n-viewpoint-stakeholder"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_stakeholder" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/10e6a32c-afdc-400f-a4a7-c5111e59ddb8.png" alt="Stakeholder Viewpoint" usemap="#10e6a32c-afdc-400f-a4a7-c5111e59ddb8map">
			<map name="10e6a32c-afdc-400f-a4a7-c5111e59ddb8map">
						<area shape="rect" coords="214,82,467,131" href="../elements/dc5f79c7-deaa-422e-b8a7-a0d2565bad19.html"  target="element">
						<area shape="rect" coords="94,190,239,263" href="../elements/9d963f0b-e1ce-4b43-ad42-d9345f9aa8d9.html"  target="element">
						<area shape="rect" coords="418,190,575,275" href="../elements/431908cf-4720-46f2-8891-223fe05c1993.html"  target="element">
						<area shape="rect" coords="250,190,407,275" href="../elements/ed7f1ddf-6cc7-4cd6-8c48-a0f7d01dfbb5.html"  target="element">
						<area shape="rect" coords="520,322,665,431" href="../elements/e56c0252-a57f-4328-a1f3-ef54af0e77ce.html"  target="element">
						<area shape="rect" coords="634,82,791,167" href="../elements/963f3436-cbe1-4d7f-9075-50c5c0f8ec04.html"  target="element">
						<area shape="rect" coords="10,322,167,419" href="../elements/5c72688d-0f0d-4cfa-a499-8e8587c200f1.html"  target="element">
						<area shape="rect" coords="502,85,611,128" href="../elements/b9a458cf-8e95-4f4a-84d5-bcf840e93ed7.html"  target="element">
						<area shape="rect" coords="190,322,347,419" href="../elements/9dd6a425-eae8-4e41-8915-40f42a4066d9.html"  target="element">
						<area shape="rect" coords="10,466,179,527" href="../elements/57115585-1d2d-463d-a02c-81d3e3cedc7f.html"  target="element">
						<area shape="rect" coords="358,322,503,419" href="../elements/cd6ae0f5-334f-421c-9789-ec05fb429e60.html"  target="element">
						<area shape="rect" coords="610,211,737,242" href="../elements/c54198be-d73b-4e6e-afb3-dd3522757b3e.html"  target="element">
						<area shape="rect" coords="202,10,335,47" href="../elements/c44b9d37-a624-427c-abbd-e1fb3b0d268d.html"  target="element">
						<area shape="rect" coords="346,10,479,47" href="../elements/57146e39-4b25-4d60-90a4-fc83bad77059.html"  target="element">
						<area shape="rect" coords="82,87,191,127" href="../elements/bcf78a7d-5513-46b8-86e2-899cfd53290b.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<tr><td> <a href="../elements/dc5f79c7-deaa-422e-b8a7-a0d2565bad19.html" target="element"> Retain current profits of the enterprise this year </a> </td><td class="i18n-elementtype-Goal"></td></tr>
										<tr><td> <a href="../elements/9d963f0b-e1ce-4b43-ad42-d9345f9aa8d9.html" target="element"> Reduce cost related to sick leave with 20% this year </a> </td><td class="i18n-elementtype-Goal"></td></tr>
										<tr><td> <a href="../elements/431908cf-4720-46f2-8891-223fe05c1993.html" target="element"> Deliver quality, use less than 2% of installation cost on fixing errors for each delivery </a> </td><td class="i18n-elementtype-Goal"></td></tr>
										<tr><td> <a href="../elements/ed7f1ddf-6cc7-4cd6-8c48-a0f7d01dfbb5.html" target="element"> Keep up with the planed progress throughout the construction process </a> </td><td class="i18n-elementtype-Goal"></td></tr>
										<tr><td> <a href="../elements/e56c0252-a57f-4328-a1f3-ef54af0e77ce.html" target="element"> Company rule - Installations have to be approved before it is delivered to the customer </a> </td><td class="i18n-elementtype-Driver"></td></tr>
										<tr><td> <a href="../elements/963f3436-cbe1-4d7f-9075-50c5c0f8ec04.html" target="element"> Decline in the general construction market </a> </td><td class="i18n-elementtype-Driver"></td></tr>
										<tr><td> <a href="../elements/5c72688d-0f0d-4cfa-a499-8e8587c200f1.html" target="element"> Safe work environment - zero injuries due to work this year </a> </td><td class="i18n-elementtype-Goal"></td></tr>
										<tr><td> <a href="../elements/b9a458cf-8e95-4f4a-84d5-bcf840e93ed7.html" target="element"> Decreased profit </a> </td><td class="i18n-elementtype-Assessment"></td></tr>
										<tr><td> <a href="../elements/9dd6a425-eae8-4e41-8915-40f42a4066d9.html" target="element"> Good work environment achieve top 40 in best place to work contest 2017 </a> </td><td class="i18n-elementtype-Goal"></td></tr>
										<tr><td> <a href="../elements/57115585-1d2d-463d-a02c-81d3e3cedc7f.html" target="element"> Working environment law - Arbeidsmilj&#248;loven </a> </td><td class="i18n-elementtype-Driver"></td></tr>
										<tr><td> <a href="../elements/cd6ae0f5-334f-421c-9789-ec05fb429e60.html" target="element"> Material inventory should contain necessary material just in time  </a> </td><td class="i18n-elementtype-Goal"></td></tr>
										<tr><td> <a href="../elements/c54198be-d73b-4e6e-afb3-dd3522757b3e.html" target="element"> customer </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
										<tr><td> <a href="../elements/c44b9d37-a624-427c-abbd-e1fb3b0d268d.html" target="element"> CEO </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
										<tr><td> <a href="../elements/57146e39-4b25-4d60-90a4-fc83bad77059.html" target="element"> Shareholders </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
										<tr><td> <a href="../elements/bcf78a7d-5513-46b8-86e2-899cfd53290b.html" target="element"> Workers </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>