<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Business process detailed viewpoint</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Business process detailed viewpoint</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/2fa21ae1-99d2-4027-9969-ff2b6afead8b.png" alt="Business process detailed viewpoint" usemap="#2fa21ae1-99d2-4027-9969-ff2b6afead8bmap">
			<map name="2fa21ae1-99d2-4027-9969-ff2b6afead8bmap">
						<area shape="rect" coords="44,226,165,312" href="../elements/5400a002-266d-4dc4-987b-1e6939d954f5.html"  target="element">
						<area shape="rect" coords="44,346,165,418" href="../elements/e086f8c0-35e5-48f9-88d5-02111023c6fc.html"  target="element">
						<area shape="rect" coords="224,430,357,491" href="../elements/4737ef93-7cf9-47c2-9b93-95d5809bdeca.html"  target="element">
						<area shape="rect" coords="176,319,191,334" href="../elements/edaa5dca-4fa4-4a74-b992-ffbe01f1897b.html"  target="element">
						<area shape="rect" coords="368,190,549,227" href="../elements/179af0de-7b9b-4ff4-af98-1a6e0bf19622.html"  target="element">
						<area shape="rect" coords="429,502,549,539" href="../elements/a4647e56-f064-4ed4-8e1c-1e6075f032fe.html"  target="element">
						<area shape="rect" coords="428,430,549,491" href="../elements/c4aeb77b-ec8f-42f6-8381-8e403912f302.html"  target="element">
						<area shape="rect" coords="595,433,715,488" href="../elements/6d1ac4c1-f2fc-4b8e-87a0-cb0772faa35a.html"  target="element">
						<area shape="rect" coords="728,296,861,358" href="../elements/61bedb93-4a90-412b-ae10-c91a59a81d24.html"  target="element">
						<area shape="rect" coords="741,214,861,269" href="../elements/d0bdba0b-018e-475a-ba63-aeb7e8605222.html"  target="element">
								<area shape="rect" coords="896,286,1029,347" href="../elements/64821720-7877-4acf-94f2-b405a4e2649c.html"  target="element">
										<area shape="rect" coords="1124,322,1264,382" href="../elements/7caf0f79-ec60-4054-9f45-6b1580098542.html"  target="element">
										<area shape="rect" coords="1280,322,1425,382" href="../elements/af256f0e-a07e-4d29-9694-5e458adf0801.html"  target="element">

								<area shape="rect" coords="1112,286,1436,395" href="../elements/6b33bc99-04db-470d-99f6-7ff172ae6796.html"  target="element">
								<area shape="rect" coords="1064,298,1079,313" href="../elements/ada37b83-e635-40f1-a0af-3007622d01ec.html"  target="element">
								<area shape="rect" coords="1256,181,1388,227" href="../elements/07b8ac6b-4ffb-424c-96a7-b1c5a892f58e.html"  target="element">
								<area shape="rect" coords="932,185,1053,246" href="../elements/4f3fb085-5f29-455c-be95-970409ed2c3c.html"  target="element">

						<area shape="rect" coords="884,130,1460,418" href="../elements/ffddedb7-85f0-4d5b-8f7b-1f3b3ced328d.html"  target="element">
						<area shape="rect" coords="1318,436,1438,491" href="../elements/05242e2d-0d7d-42d5-adef-2d696e71fb8e.html"  target="element">
						<area shape="rect" coords="1496,242,1616,297" href="../elements/5b502566-45e0-4f0b-a81d-fb723ff877b6.html"  target="element">
						<area shape="rect" coords="1496,142,1616,203" href="../elements/0d9701d2-15d7-487d-abf3-6cb24545dd89.html"  target="element">
						<area shape="rect" coords="1449,436,1569,491" href="../elements/19c04c60-6ebd-4c66-8a77-48a43b768147.html"  target="element">
						<area shape="rect" coords="920,436,1040,491" href="../elements/e428250a-42c8-448b-b8b9-70af43f0b6fe.html"  target="element">
						<area shape="rect" coords="1136,70,1257,107" href="../elements/3aad4b40-5c09-4f4a-97fe-c56808c6c7f1.html"  target="element">
								<area shape="rect" coords="368,296,501,357" href="../elements/23012962-4280-4c7c-a74e-c38a889e68eb.html"  target="element">
								<area shape="rect" coords="536,305,669,348" href="../elements/53c6880d-4781-4361-988c-2904fdcc6c38.html"  target="element">
								<area shape="rect" coords="224,296,357,357" href="../elements/ac3f6cf1-194c-4380-a665-cb3c33b22302.html"  target="element">

						<area shape="rect" coords="200,260,691,393" href="../elements/c88a99f9-c5ee-46d6-ab97-6752d152b967.html"  target="element">
						<area shape="rect" coords="1305,10,1450,107" href="../elements/431908cf-4720-46f2-8891-223fe05c1993.html"  target="element">
						<area shape="rect" coords="1088,436,1221,515" href="../elements/5c72688d-0f0d-4cfa-a499-8e8587c200f1.html"  target="element">
						<area shape="rect" coords="860,58,981,107" href="../elements/98fd869e-26cd-4f6d-9efc-856fa04eaf3f.html"  target="element">
						<area shape="rect" coords="741,118,861,173" href="../elements/8769c865-4f96-4243-8bdd-2c22235a3096.html"  target="element">
						<area shape="rect" coords="524,82,645,143" href="../elements/3f344d43-e6be-4048-91cd-6e59b47d9da8.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<tr><td> <a href="../elements/5400a002-266d-4dc4-987b-1e6939d954f5.html" target="element"> Project aviliable from state or municipally </a> </td><td class="i18n-elementtype-BusinessEvent"></td></tr>
										<tr><td> <a href="../elements/e086f8c0-35e5-48f9-88d5-02111023c6fc.html" target="element"> Request from private sector </a> </td><td class="i18n-elementtype-BusinessEvent"></td></tr>
										<tr><td> <a href="../elements/4737ef93-7cf9-47c2-9b93-95d5809bdeca.html" target="element"> Price estimation </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
										<tr><td> <a href="../elements/edaa5dca-4fa4-4a74-b992-ffbe01f1897b.html" target="element"> Junction </a> </td><td class="i18n-elementtype-Junction"></td></tr>
										<tr><td> <a href="../elements/179af0de-7b9b-4ff4-af98-1a6e0bf19622.html" target="element"> Electrical engineer </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
										<tr><td> <a href="../elements/a4647e56-f064-4ed4-8e1c-1e6075f032fe.html" target="element"> Customer </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
										<tr><td> <a href="../elements/c4aeb77b-ec8f-42f6-8381-8e403912f302.html" target="element"> Contract </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
										<tr><td> <a href="../elements/6d1ac4c1-f2fc-4b8e-87a0-cb0772faa35a.html" target="element"> Requirements </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
										<tr><td> <a href="../elements/61bedb93-4a90-412b-ae10-c91a59a81d24.html" target="element"> Produce technical drawings </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
										<tr><td> <a href="../elements/d0bdba0b-018e-475a-ba63-aeb7e8605222.html" target="element"> Technical drawings </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
										<tr><td> <a href="../elements/ffddedb7-85f0-4d5b-8f7b-1f3b3ced328d.html" target="element"> Install electrical components </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/64821720-7877-4acf-94f2-b405a4e2649c.html" target="element"> Installing components </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/6b33bc99-04db-470d-99f6-7ff172ae6796.html" target="element"> Report dangerous situation   </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
														<tr><td> <a href="../elements/7caf0f79-ec60-4054-9f45-6b1580098542.html" target="element"> write dangerous situation </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
														<tr><td> <a href="../elements/af256f0e-a07e-4d29-9694-5e458adf0801.html" target="element"> Act upon HSE reports once a week </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												
												<tr><td> <a href="../elements/ada37b83-e635-40f1-a0af-3007622d01ec.html" target="element"> Junction </a> </td><td class="i18n-elementtype-Junction"></td></tr>
												<tr><td> <a href="../elements/07b8ac6b-4ffb-424c-96a7-b1c5a892f58e.html" target="element"> Inspection </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/4f3fb085-5f29-455c-be95-970409ed2c3c.html" target="element"> Check if new equipment is needed </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
										
										<tr><td> <a href="../elements/05242e2d-0d7d-42d5-adef-2d696e71fb8e.html" target="element"> HSE report on paper </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
										<tr><td> <a href="../elements/5b502566-45e0-4f0b-a81d-fb723ff877b6.html" target="element"> Deliver building to customer </a> </td><td class="i18n-elementtype-BusinessEvent"></td></tr>
										<tr><td> <a href="../elements/0d9701d2-15d7-487d-abf3-6cb24545dd89.html" target="element"> Certificate of completion  </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
										<tr><td> <a href="../elements/19c04c60-6ebd-4c66-8a77-48a43b768147.html" target="element"> HSE responsible </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
										<tr><td> <a href="../elements/e428250a-42c8-448b-b8b9-70af43f0b6fe.html" target="element"> Electrician </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
										<tr><td> <a href="../elements/3aad4b40-5c09-4f4a-97fe-c56808c6c7f1.html" target="element"> BAS </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
										<tr><td> <a href="../elements/c88a99f9-c5ee-46d6-ab97-6752d152b967.html" target="element"> Negotiate contract </a> </td><td class="i18n-elementtype-BusinessCollaboration"></td></tr>
												<tr><td> <a href="../elements/23012962-4280-4c7c-a74e-c38a889e68eb.html" target="element"> Decide upon contract </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/53c6880d-4781-4361-988c-2904fdcc6c38.html" target="element"> Finalize contract </a> </td><td class="i18n-elementtype-BusinessCollaboration"></td></tr>
												<tr><td> <a href="../elements/ac3f6cf1-194c-4380-a665-cb3c33b22302.html" target="element"> Estimate price </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
										
										<tr><td> <a href="../elements/431908cf-4720-46f2-8891-223fe05c1993.html" target="element"> Deliver quality, use less than 2% of installation cost on fixing errors for each delivery </a> </td><td class="i18n-elementtype-Goal"></td></tr>
										<tr><td> <a href="../elements/5c72688d-0f0d-4cfa-a499-8e8587c200f1.html" target="element"> Safe work environment - zero injuries due to work this year </a> </td><td class="i18n-elementtype-Goal"></td></tr>
										<tr><td> <a href="../elements/98fd869e-26cd-4f6d-9efc-856fa04eaf3f.html" target="element"> equipment order </a> </td><td class="i18n-elementtype-BusinessEvent"></td></tr>
										<tr><td> <a href="../elements/8769c865-4f96-4243-8bdd-2c22235a3096.html" target="element"> detailed CAD file </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
										<tr><td> <a href="../elements/3f344d43-e6be-4048-91cd-6e59b47d9da8.html" target="element"> Citrix server </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>