<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Infrastructure Viewpoint</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Infrastructure Viewpoint</b>
			(<span class="i18n-viewpoint-technology"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_technology" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/a971af21-3f23-44f7-a53f-cb37c45e3bc3.png" alt="Infrastructure Viewpoint" usemap="#a971af21-3f23-44f7-a53f-cb37c45e3bc3map">
			<map name="a971af21-3f23-44f7-a53f-cb37c45e3bc3map">
										<area shape="rect" coords="58,202,191,251" href="../elements/c332d62c-c9d3-4113-bf37-5ab961d2dfd5.html"  target="element">
										<area shape="rect" coords="58,274,191,323" href="../elements/35e620b5-8fba-4c74-8d22-8b1bef831907.html"  target="element">
										<area shape="rect" coords="226,214,347,275" href="../elements/8d1bc78d-9b17-46b6-bc12-7e7ed8448721.html"  target="element">

								<area shape="rect" coords="34,130,383,347" href="../elements/19868e24-2401-427c-b268-87c330a09530.html"  target="element">

						<area shape="rect" coords="10,82,407,371" href="../elements/5f5f6222-4917-4bdc-8169-c6777c6a7117.html"  target="element">
						<area shape="rect" coords="226,10,347,59" href="../elements/9905655a-7149-4e6c-ac12-e631227a487b.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<tr><td> <a href="../elements/5f5f6222-4917-4bdc-8169-c6777c6a7117.html" target="element"> Oslo office </a> </td><td class="i18n-elementtype-Location"></td></tr>
												<tr><td> <a href="../elements/19868e24-2401-427c-b268-87c330a09530.html" target="element"> citrix server </a> </td><td class="i18n-elementtype-Node"></td></tr>
														<tr><td> <a href="../elements/c332d62c-c9d3-4113-bf37-5ab961d2dfd5.html" target="element"> CAD software </a> </td><td class="i18n-elementtype-SystemSoftware"></td></tr>
														<tr><td> <a href="../elements/35e620b5-8fba-4c74-8d22-8b1bef831907.html" target="element"> Excel </a> </td><td class="i18n-elementtype-SystemSoftware"></td></tr>
														<tr><td> <a href="../elements/8d1bc78d-9b17-46b6-bc12-7e7ed8448721.html" target="element"> File system </a> </td><td class="i18n-elementtype-SystemSoftware"></td></tr>
												
										
										<tr><td> <a href="../elements/9905655a-7149-4e6c-ac12-e631227a487b.html" target="element"> Data read/ write access </a> </td><td class="i18n-elementtype-TechnologyService"></td></tr>

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>